
<h1>You can Add Movie here</h1>
<form method="POST" action="add_movie" enctype="multipart/form-data" >
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter movie name"><br>
    <input type="text" name="slug" placeholder="slug name"><br>

    <input type="text" name="desc" placeholder="enter movie description"><br>
    <input type="date" name="release_date" placeholder="enter release date"><br>
    <input type="text" name="actor" placeholder="enter actor name"><br>
    <input type="text" name="actress" placeholder="enter actress name"><br>
    <select name="category" class="form-control">
        {% for c in links %}
            <option value="{{c.id}}">{{c.title}}</option>

        {% endfor %}
    </select>
    <input type="file" name="poster"><br>
    <input type="text" name="review" placeholder="write a review"><br>
    <input type="text" name="ratings" placeholder="Your ratings out of 5"><br>

    <input type="url"  name="ylink" placeholder="enter Youtube link"><br>
    <input type="submit" >
</form>



